<template>
  <TaskForm
    v-if="taskInfo"
    :task="taskInfo"
    @generateTask="updateTask"
  />
  
</template>

<script>
import TaskForm from '@/components/TaskForm.vue'

export default {
 components: { 
    TaskForm
  },
  data() {
    return {
      id: this.$router.currentRoute.params['id']
    }
  },
  computed: {
    taskInfo: function() {
      return this.$store.getters.getTaskById(this.id)
    }
  },
  methods: {
    updateTask: function (e) {
      this.$store.dispatch('updateTask', e)
      this.$router.replace('/')
    }
  }
}
</script>

<style scoped>
  .full-task-container{
    margin-top: 10px;
  }
  .author {
    font-weight: bold;
  }
  .text {
    margin-top: 10px;
    font-size: 20px;
  }
</style>
