<template>
  <div class="full-task-container">
    <div v-if="taskInfo.active"><router-link :to="'/edit/' + taskInfo.id">Редактировать</router-link></div>
    <div ><img class='task-image' :src="taskInfo.image"/></div>
    <div class="author">{{taskInfo.author}} ({{taskInfo.date}})</div>
    <div class="text">{{taskInfo.text}}</div>
  </div>
</template>

<script>
export default {
  computed: {
    taskInfo: function() {
      return this.$store.getters.getTaskById(this.$router.currentRoute.params.id)
    }
  }
}
</script>

<style scoped>
  .full-task-container{
    margin-top: 10px;
  }
  .author {
    font-weight: bold;
  }
  .text {
    margin-top: 10px;
    font-size: 20px;
  }
  .task-image{
    max-width: 400px;
  }
</style>
