<template>
  <div>
      <TaskForm
            @generateTask="addTask"
        />
  </div>
</template>

<script>
import TaskForm from '@/components/TaskForm.vue'

export default {
    components: { 
    TaskForm
  },
 methods: {

    addTask: function (e) {
      this.$store.dispatch('addNewTask', e)
      this.$router.replace('/')
    }
  }
}
</script>
