<template>
<b-navbar type="dark" variant="dark">
    <b-navbar-nav>
      <b-nav-item>
         <router-link to='/'>Задачи</router-link>
      </b-nav-item>
       <b-nav-item>
        <router-link to='/newtask'>Добавить задачу</router-link>
      </b-nav-item>
    </b-navbar-nav>
  </b-navbar>

</template>

<script>
export default {
  name: 'Navigation',
  computed: {
    taskShowMode: function() {
      return this.$store.state.showTaskMode
    }
  },
  methods: {
    showActiveTask: function (e) {
      this.$store.dispatch('setDisplayTaskMode', 1)
    },
     showAllTasks: function (e) {
      this.$store.dispatch('setDisplayTaskMode', 2)
    },
    showArchiveTask: function (e) {
      this.$store.dispatch('setDisplayTaskMode', 0)
    }
  }
}
</script>

<style scoped>
  .navigation {
    padding: 10px;
    background-color: rgb(173, 0, 86);
  }

  .navigation__link {
    cursor: pointer;
  }
  
  .link_actived{
    color:red;
  }
</style>
