<template>
  <div>
        <br/>
        <b-form-input v-model="author" placeholder="Репортер (ФИО)"></b-form-input>
        <br/>
        <b-form-textarea
            id="textarea-default"
            placeholder="Текст задачи"
            v-model="text"
        ></b-form-textarea>
        <br/>
        <b-form-input v-model="date" placeholder="Репортер (ФИО)" type="date"></b-form-input>
        <br/>
        <b-form-file
            v-model="file"
            placeholder="Выберите или перенесите сюда файл"
            drop-placeholder="Перенести файл..."
            v-on:change="onFileChange"
        ></b-form-file>
        <br/>
        <br/>
        <img class="preview" :src="fileBase64"/>
        <br/>
        <br/>

        <div v-if="task">
            <b-form-checkbox v-model="active" name="check-button" switch>
                Активная задача
            </b-form-checkbox>
            <br/>
        </div>

        <b-button @click='generateTask'>{{buttonText}}</b-button>
  </div>
</template>

<script>
export default {
    props: ['task'],
    data: function () { 
        return {
            author: (this.task && this.task.author) || '',
            text: (this.task && this.task.text) || '',
            fileBase64: (this.task && this.task.image) || '',
            date: (this.task && this.task.date) || '',
            active: true,
            file: ''
        }
    },
    computed: {
        buttonText: function() {
            return this.task ? 'Обновить' : 'Добавить'
        }
    },
    methods: {
        generateTask: function (e) {
            if( !this.author || !this.text || !this.date) {
                alert('Все поля кроме картинки обязательны')
                return
            }

            let task = {
                id: (this.task && this.task.id) || new Date().getTime(),
                author: this.author,
                text: this.text, 
                image: this.fileBase64, 
                date: this.date, 
                active: this.active
            }

            this.$emit('generateTask', task)
        },
        onFileChange: function(e) {
            let file = (e.dataTransfer && e.dataTransfer.files[0]) || e.target.files[0]
            let reader = new FileReader();
            reader.onload = (fileLoadedEvent) => this.fileBase64 = fileLoadedEvent.target.result
            reader.readAsDataURL(file)
        }
    }
}
</script>

<style scoped>
    .file-drop-zone {
        height: 70px;
        background-color: #ccc;
        border: 1px solid green;
    }
    
    .preview {
        max-width: 100px;
        max-height: 100px;
    }
</style>
