<template>
  <router-link
    :to="'/task/' + task.id"
  >
    <div class="task" :class="{ active: task.active, archive: !task.active }">
        <div class="task-image"><img :src="task.image"/></div>
        <div class="task-text"><div>{{task.text}}</div></div>
        <div class="task-author">{{task.author}}</div>
        <div class="task-date">{{task.date}}</div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    task: Object,
  },
}
</script>

<style scoped>

    .task-image, .task-image img {
      width:50px
    }

    .task-text {
      flex: 2;
      min-width: 0;
      margin-left: 10px;
      text-align: left;
    }
    .task-text > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .task-author{
      flex: 1;
    }
    
    .task-author{
      flex: 1;
    }

    .task-date{
      flex: 1;
    }

    .task {
        padding: 10px;
        display: flex;
        align-items: center;
        margin-top:5px;
        border-radius: 5px;
    }
  
    .active {
        background-color: rgb(191, 209, 194);
        border: 1px solid rgb(137, 180, 156);
    }

    .active:hover {
    background-color: rgb(177, 207, 182);
    }
    
    .archive {
        border: 1px dashed rgb(207, 207, 207);
    }

    .archive:hover {
    background-color: rgb(221, 221, 221);
  }
</style>
