<template>

  <div class="task-list">
      <div class="navigation">
        <div><b-button @click='showAllTasks' :variant="taskShowMode === 2 ? 'primary' : 'outline-primary' ">ВСЕ</b-button></div>
        <div><b-button @click='showActiveTask' :variant="taskShowMode === 1 ? 'primary' : 'outline-primary' ">АКТИВНЫЕ</b-button></div>
        <div><b-button @click='showArchiveTask' :variant="taskShowMode === 0 ? 'primary' : 'outline-primary' ">АРХИВ</b-button></div>
        <div><b-form-input @change="changeSearchText" placeholder="Поиск (нажмите Enter)"></b-form-input></div>
    </div>
      <Task v-for="(item, index) of tasks" :key="index" :task="item"/>
  </div>
</template>

<script>
import Task from '@/components/Task.vue'

export default {
  computed: {
    tasks () {
      return this.$store.getters.getTasks
    },
     taskShowMode: function() {
      return this.$store.state.showTaskMode
    }
  },
  methods: {
    showActiveTask: function (e) {
      this.$store.dispatch('setDisplayTaskMode', 1)
    },
     showAllTasks: function (e) {
      this.$store.dispatch('setDisplayTaskMode', 2)
    },
    showArchiveTask: function (e) {
      this.$store.dispatch('setDisplayTaskMode', 0)
    },
    changeSearchText: function (e) {
      this.$store.commit('setSearchText', e)
    },
  },
  components: {
    Task
  }
}
</script>
>
<style scoped>

   .navigation {
      display: flex;
      justify-content: space-around;
      padding: 10px;
  }
</style>
