<template>
  <div id="app">
    <Navigation />
    <router-view></router-view>
  </div>
</template>

<script>

import Navigation from '@/components/Navigation.vue'

export default {
 components: { 
    Navigation
  },
  mounted: function() {
    this.$store.dispatch('loadTasksFromLocalStorage')
    this.$store.dispatch('loadSettings')
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 700px;
  margin: 0px auto;
}
</style>
